@import url('https://fonts.googleapis.com/css?family=BenchNine:400,700|Merriweather:400,400i,700,700i');

@font-face {
    font-family: 'American Captain';
    src: url('fonts/american_captain-webfont.woff2') format('woff2'),
         url('fonts/american_captain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
	font-family: "Merriweather", Georgia, serif;
}

#sport-header .sport-colors h2,
h1, h2, h3, h4, h5, h6 {
	font-family: "American Captain", "Trebuchet MS", Arial, sans-serif;
	font-weight: normal;
}

.site-background {
	background-size: cover;
}

.pageElement a {
	font-weight: normal;
}

#topNavPlaceholder {
	display: none;
}

#topNav {
	top: 317px;
	font-family: 'BenchNine', Impact, sans-serif;
	pointer-events: none;
}

#topNav .theme-main-nav {
	background-color: transparent;
	border-bottom: none;
	pointer-events: auto;
}

#topNav .theme-main-nav .theme-nav,
#topNav.nav-fixed .theme-main-nav .theme-nav {
	line-height: 35px;
}

#topNav .theme-main-nav .theme-nav > .theme-nav-item > .theme-nav-link {
	text-transform: uppercase;
}

#topNav .theme-sub-nav {
	top: 13px;
	background-color: #026b92;
	width: 200px !important;
	color: #fff;
	left: -400px;
	pointer-events: auto;
}

#topNav .theme-sub-nav:before {
	content: "This Section";
	font-family: "American Captain", "Trebuchet MS", Arial, sans-serif;
	font-size: 24px;
	padding: 13px;
	line-height: 50px;
}

#topNav .theme-sub-nav ul li {
	float: none !important;
}

#topNav .theme-nav-style-dropdown > .theme-nav-title a,
#topNav .theme-sub-nav .theme-nav > .theme-nav-item > .theme-nav-link {
	font-family: "Merriweather", Georgia, serif;
	color: #fff;
}

html.has-main-nav:not(.has-sub-nav) #siteHeader {
	margin-top: 0;
}

#topNav .theme-nav-style-dropdown > .theme-nav-item {
	border-left: #5eb9d8 1px solid;
	border-top: #5eb9d8 1px solid;
	border-bottom: #00455c 1px solid;
	border-right: #00455c 1px solid;
	background: #00678a;
}

#topNav .theme-sub-nav .theme-nav > .theme-nav-item.selected {
	background: #0090c0;
	background: -webkit-linear-gradient(top,#00678a,#0090c0); /*Safari 5.1-6*/
	background: -o-linear-gradient(top,#00678a,#0090c0); /*Opera 11.1-12*/
	background: -moz-linear-gradient(top,#00678a,#0090c0); /*Fx 3.6-15*/
	background: linear-gradient(to bottom, #00678a, #0090c0); /*Standard*/
}

#topNav .theme-sub-nav .theme-nav > .theme-nav-item.selected > .theme-nav-link {
	background-color: transparent;
	font-weight: bold;
}

#topNav .theme-search-wrapper {
	background-color: transparent !important;
	border-bottom: none !important;
	position: absolute;
	text-align: right;
	z-index: 10000;
}

#topNav .theme-search-wrapper a {
	color: #fff;
	font-size: 3em;
	margin-right: 15px;
	pointer-events: auto;
}

#siteContainer {
	margin-top: 50px;
}

#siteContainer #displayBodyHeader:not(.displayBodyHeader-image) {
	position: absolute;
	border-bottom: none;
	margin-left: 200px;
	white-space: nowrap;
	overflow-x: scroll;
}

#siteContainer .yieldPageContent {
	margin-top: 30px;
}

#siteContainer .layoutContainer.row {
	padding-left: 200px;
}

.sportsHome #siteContainer .layoutContainer.row {
	padding-left: 0px;
}

.teamPage #panelTwo,
.gameShow #panelTwo,
#sport-header {
	padding-left: 200px !important;
}

#siteContainer .layoutContainer.row.no-subnav {
	padding-left: 0;
}

#siteContainer .layoutContainer.row.no-title {
	position: relative;
	top: -30px;
}

#siteContainer #displayBodyHeader {
	font-size: 3em !important;
	padding: 5px 30px !important;
	color: #0090c0;
}

.games-slider,
.dataTable th,
.statTable th,
.stat_table th,
.contentTabs li span a,
#sport-header .sport-tools ul li a {
	font-family: 'BenchNine', Impact, sans-serif;
	font-size: 1em;
}

.games-slider-month {
	font-family: "American Captain", "Trebuchet MS", Arial, sans-serif;
	font-size: 1em;
}

.socialIcons {
	position: relative;
	top: -160px;
	text-align: right;
}

.socialIcons i.fa {
	font-size: 36px;
	color: #fff;
	margin-left: 10px;
}

.edit_mode .socialIcons {
	top: 0;
}

.edit_mode .theme-sub-nav {
	display: none;
}

.newsSlideShow-headline {
	bottom: 4rem;
}

.newsSlideShow-headline h1 {
	background: transparent;
	margin: none;
}

.newsSlideShow-headline h1:before {
	display: none
}

.newsSlideShow-headline p {
	font-style: normal;
	font-size: 24px;
	float: right;
}

.newsSlideShow-headline p span {
	background-color: rgba(0, 0, 0, .35);
	height: 3.5rem;
	max-width: calc(100% - 50px);
	line-height: 3.5rem;
}

.newsSlideShow-headline p a {
	height: 3.25rem;
	line-height: 3.25rem;
}

.newsSlideShow-more.button-small:after {
	display: none;
}

.newsSlideShow-headline h1 a {
	font-size: 65px;
	text-shadow: 3px 3px 3px #333;
}

.newsSlideShow-more.button-small {
	height: 3.25rem;
	width: 1.75rem;
	background-color: transparent !important;
	border-left: 1.75rem solid rgba(0, 0, 0, .35) !important;
	border-bottom: 1.75rem solid transparent !important;
	border-top: 1.75rem solid transparent !important;
	border-right: transparent;
	text-indent: -2000px;
	margin-bottom: none;
}

.newsSlideShow-more.button-small:after {
	background: red;
	content: '';
}

.newsSlideShow-more.button-small:hover {
	background-color: transparent !important;
	border-left: 1.75rem solid rgba(0, 0, 0, .35) !important;
	border-bottom: 1.75rem solid transparent !important;
	border-top: 1.75rem solid transparent !important;
	border-right: transparent;
}

.rosterPlayerInfoElement h3 {
	background-color: #026b92 !important;
	border-color: #026b92 !important;
	color: #fff !important;
	width: calc(100% - 200px + 12px);
	padding-top: 10px;
}

.rosterPlayerInfoElement h3 span.playerName {
	color: #fff !important;
	font-size: 1.5em;
	margin-left: 20px;
}

.rosterPlayerInfoElement h3 small {
	color: #000 !important;
	font-size: .5em !important;
}

@media only screen and (max-width: 1049px) {
	.teamPage #panelTwo,
	.gameShow #panelTwo,
	#sport-header,
	#siteContainer .layoutContainer.row {
		padding-left: 0 !important;
	}

	#sport-header,
	#siteContainer #displayBodyHeader {
		padding: 5px 20px !important;
		margin-left: 0 !important;
	}

	#siteContainer #displayBodyHeader:not(.displayBodyHeader-image) {
		position: relative;
	}
}

@media only screen and (max-width: 767px) {
	#topNav {
		pointer-events: auto;
	}

/*	#siteContainer {
		margin-top: 0 !important;
	}
*/
	.site-banner-wrapper {
		margin-left: 2.5vw;
	}

	.socialIcons {
		position: absolute;
		top: -135px;
		right: 0;
	}

	.socialIcons i.fa {
		font-size: 28px;
	}

	.newsSlideShow-headline {
		bottom: 1rem;
	}

	.newsSlideShow-headline h1 a {
		font-size: 45px;
	}
}

html.has-mobile-nav .theme-search-wrapper {
	display: block;
	top: 150px;
	z-index: 0 !important;
}
